<template>
  <table id="env" class="bordered">
    <thead>
      <tr>
        <th colspan="5">Battery Status</th>
      </tr>
      <tr>
        <th>Time</th>
        <th>Count</th>
        <th>Avg Voltage (V)</th>
        <th>Total Current (A)</th>
        <th>Capacity (%)</th>
      </tr>
    </thead>
    <tbody>
      <tr v-if="dsrc">
        <td>{{ dsrc.time | formatTime }}</td>
        <td>{{ dsrc.data.count }}</td>
        <td>{{ dsrc.data.voltage/1000. | formatVal }}</td>
        <td>{{ dsrc.data.current/1000. | formatVal }}</td>
        <td>{{ dsrc.data.capacity }}</td>
      </tr>
      <tr v-else>
        <td colspan="5">No data yet ...</td>
      </tr>
    </tbody>
  </table>
</template>
<script>
  import moment from 'moment';
  export default {
      props: ["dsrc"],
      filters: {
          formatVal: function(x) {
              return Number(x).toPrecision(3);
          },
          formatTime: function(ts) {
              let m = moment(ts, "YYYY-MM-DDTHH:mm:ss.SSSSSSSSSZ");
              return m.format();
          }
      }
  }
</script>
<style scoped>
</style>
