<template>
  <button type="button"
          v-bind:disabled="!enabled"
          v-on:click="toggleState()"
          :class="buttonClass">{{ name }}</button>
</template>
<script>
  export default {
      props: ["sys", "state", "name"],
      data: function() {
          return {
              enabled: true
          }
      },
      methods: {
          toggleState: function() {
              let params = new URLSearchParams(document.location.search.substring(1));
              if (!params.get("assumeoff") && (this.state === undefined)) {
                    console.log(this.sys + " state unknown");
                    return;
              }
              let cmd = "PWREN";
              let which = this.sys;

              var text;
              if (this.state) {
                  // Send power-off command
                  text = `${cmd},${which},0`;
              } else {
                  // Send power-on command
                  text = `${cmd},${which},1`;
              }

              // Pass a send-command request to the parent
              this.$emit("send-command", text);

              // Disable the button until we get confirmation that
              // the state has changed (see Watcher below).
              this.enabled = false;
          }
      },
      computed: {
          buttonClass: function() {
              return this.state ? "sys-active" : "sys-inactive";
          }
      },
      watch: {
          state: function() {
              this.enabled = true;
          }
      }
  }
</script>
<style scoped>
.sys-active {
    background-color: #39a746;
    color: white;
}

.sys-active::before {
    content: "*";
}

.sys-inactive {
    background-color: #af2d3d;
    color: white;
}

.sys-inactive::before {
    content: "";
}
</style>
