<template>
  <div id="app">
    <h2>PFU Monitor</h2>
    <p>
      System Uptime:
      <span v-if="STATS && STATS.data">{{STATS.data.uptime | formatSecs}}</span>
    </p>
    <Batteries
      v-bind:dsrc="BAB"/>

    <h3>Inputs</h3>
    <div class="table-box">
      <AdcTable
        v-for="name in adcs"
        v-bind:key="name"
        v-bind:name="name"
        v-bind:adc="proc[name]"/>
    </div>
    <BmeprTable
      v-bind:dsrc="BMEPR"/>
    <h2>Power Switches</h2>
    <p v-if="POWER.time"> Last update: {{ POWER.time | formatTime }}</p>
    <p v-else>No data yet ...</p>
    <PowerButton
      v-for="obj in subsys"
      v-bind:sys="obj.sys"
      v-bind:key="obj.sys"
      v-bind:name="obj.name"
      v-bind:state="powerState[obj.sys]"
      v-on:send-command="sendCmd($event)"/>
  </div>
</template>

<script>
  import AdcTable from './components/AdcTable.vue'
  import BmeprTable from './components/BmeprTable.vue'
  import Batteries from './components/Batteries.vue'
  import PowerButton from './components/PowerButton.vue'
  import moment from 'moment'

  export default {
      name: "App",
      components: {
          AdcTable, BmeprTable, Batteries, PowerButton
      },
      data: function() {
          return {
              BMEPR: null,
              STATS: null,
              BAB: null,
              POWER: {data: {}, time: ""},
              proc: {},
              adcs: ['ADC0R', 'ADC1R', 'ADC2R', 'ADCRR', 'ADCLR'],
              subsys: [
                  {name: 'BAB', sys: 'BAB_EN'},
                  {name: 'LED1', sys: 'LT1_EN'},
                  {name: 'LED2', sys: 'LT2_EN'},
                  {name: 'Laser ADC', sys: 'LSR_EN'},
                  {name: 'Oil', sys: 'OIL_EN'}],
              powerState: {}
          }
      },
      methods: {
          sendCmd: function(text) {
              let fd = new FormData();
              fd.append("text", text);
              fetch("/pfu/cmd", {
                  method: "POST",
                  body: fd,
              }).then(resp => {
                  if(!resp.ok) {
                      throw new Error(`HTTP error! status: ${resp.status}`);
                  }
              }).catch(e => {
                  console.log("sendCmd failed: " + e.message);
              });
          },
      },
      filters: {
          formatVal: function(x) {
              return Number(x).toPrecision(5);
          },
          formatTime: function(ts) {
              let m = moment(ts, "YYYY-MM-DDTHH:mm:ss.SSSSSSSSSZ");
              return m.format();
          },
          formatSecs: function(secs) {
              let days = Math.floor(secs/86400);
              secs = secs % 86400;
              let hours = Math.floor(secs/3600);
              secs = secs % 3600;
              let mins = Math.floor(secs/60);
              secs = secs % 60;
              if (days > 0) {
                  return `${days}d${hours}h${mins}m${secs}s`;
              }
              if(hours > 0) {
                  return `${hours}h${mins}m${secs}s`;
              }
              return `${mins}m${secs}s`;
          },
      },
      created() {
          for (const obj of this.subsys) {
              this.powerState[obj.sys] = false;
          }
          // Attach SSE event handlers for each data source.
          const srcs = ['IMAGS', 'BMEPR', 'STATS', 'BAB'];
          var evSource = new EventSource("/pfu/stream", { withCredentials: true });
          var that = this;
          for (const src of srcs) {
              evSource.addEventListener("data.pfu."+src, function(e) {
                  that[src] = JSON.parse(e.data);
              });
          }

          // SSE event handlers for the processed ADC data
          for (const src of that.adcs) {
              evSource.addEventListener("proc.pfu."+src, function(e) {
                  that.proc[src] = JSON.parse(e.data);
              });
          }

          // Power messages
          evSource.addEventListener("data.pfu.POWER", function(e) {
              that.POWER = JSON.parse(e.data);
              for (const obj of that.subsys) {
                  if (Object.prototype.hasOwnProperty.call(that.POWER.data, obj.sys)) {
                      that.powerState[obj.sys] = that.POWER.data[obj.sys];
                  }
              }
          });
      },
}
</script>

<style>
body{
    background:#fff none repeat scroll 0;
    line-height:1;
    font-size: 12px;
    font-family: Verdana, Helvetica;
    height:100%;
    margin: 0;
    padding: 2em;
}

h1 {
    color:#6FA5FD;
    font-size:150%;
    font-weight:700;
    text-align: center;
}

h3 {
    font-weight: bold;
}

table {
    *border-collapse: collapse; /* IE7 and lower */
    border-spacing: 0;
}

.bordered {
    border: solid #ccc 1px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 1px #ccc;
    -moz-box-shadow: 0 1px 1px #ccc;
    box-shadow: 0 1px 1px #ccc;
}

.bordered td, .bordered th {
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

.bordered th {
    background-color: #dce9f9;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ebf3fc), to(#dce9f9));
    background-image: -webkit-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:    -moz-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:     -ms-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:      -o-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:         linear-gradient(top, #ebf3fc, #dce9f9);
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
    -moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;
    box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
    border-top: none;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

.bordered td:first-child, .bordered th:first-child {
    border-left: none;
}

.bordered th:first-child {
    -moz-border-radius: 6px 0 0 0;
    -webkit-border-radius: 6px 0 0 0;
    border-radius: 6px 0 0 0;
}

.bordered th:last-child {
    -moz-border-radius: 0 6px 0 0;
    -webkit-border-radius: 0 6px 0 0;
    border-radius: 0 6px 0 0;
}

.bordered th:only-child {
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}

.bordered tr:last-child td:first-child {
    -moz-border-radius: 0 0 0 6px;
    -webkit-border-radius: 0 0 0 6px;
    border-radius: 0 0 0 6px;
}

.bordered tr:last-child td:last-child {
    -moz-border-radius: 0 0 6px 0;
    -webkit-border-radius: 0 0 6px 0;
    border-radius: 0 0 6px 0;
}

.table-box {
    display: -webkit-flex !important;
    display: flex !important;
    flex-wrap: wrap;
    flex: 300px;
}

a {
    cursor: pointer;
    text-decoration:none;
}

br.both {
    clear:both;
}

.units {
    color:#606060;
    font-size:80%;
    font-weight:200;
}

.label {
    color:#1F55AD;
    font-weight:500;
}

.small {
    font-size: 80%;
}

fieldset {
    border: 1px solid black;
    padding: 0;
    margin: 0;
}

.inputs input[type=text] {
    background: #f1f1f1;
    padding: 15px 15px 15px 20px;
    margin: 0 0 10px 0;
    width: 300px;
    font-size: 16px;
    border: 1px solid #ccc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
    -webkit-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
    box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
}

.inputs .lock {
    margin: 0 0 10px 0;
    float: right;
}

.inputs input:focus {
    background-color: #fff;
    border-color: #e8c291;
    outline: none;
    -moz-box-shadow: 0 0 0 1px #e8c291 inset;
    -webkit-box-shadow: 0 0 0 1px #e8c291 inset;
    box-shadow: 0 0 0 1px #e8c291 inset;
}

button {
    cursor: pointer;
    text-align: center;
    opacity: 1;

    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;

     -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
     -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
     box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;

    border-width: 1px;
    border-style: solid;
    border-color: #0f0f0f;

    height: 45px;
    width: 90px;
    cursor: pointer;
    font: bold 1em Arial, Helvetica;
    margin: 0.5em;
}

button[disabled] {
    opacity: 0.3;
}

.tooltip {
  display: block !important;
  z-index: 10000;
}

.tooltip .tooltip-inner {
  background: black;
  color: white;
  border-radius: 16px;
  padding: 5px 10px 4px;
  max-width: 250px;
}

.tooltip .tooltip-arrow {
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  margin: 5px;
  border-color: black;
  z-index: 1;
}

.tooltip[x-placement^="top"] {
  margin-bottom: 5px;
}

.tooltip[x-placement^="top"] .tooltip-arrow {
  border-width: 5px 5px 0 5px;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
  bottom: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}

.tooltip[x-placement^="bottom"] {
  margin-top: 5px;
}

.tooltip[x-placement^="bottom"] .tooltip-arrow {
  border-width: 0 5px 5px 5px;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
  border-top-color: transparent !important;
  top: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}

.tooltip[x-placement^="right"] {
  margin-left: 5px;
}

.tooltip[x-placement^="right"] .tooltip-arrow {
  border-width: 5px 5px 5px 0;
  border-left-color: transparent !important;
  border-top-color: transparent !important;
  border-bottom-color: transparent !important;
  left: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}

.tooltip[x-placement^="left"] {
  margin-right: 5px;
}

.tooltip[x-placement^="left"] .tooltip-arrow {
  border-width: 5px 0 5px 5px;
  border-top-color: transparent !important;
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
  right: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}

.tooltip.popover .popover-inner {
  background: #f9f9f9;
  color: black;
  padding: 24px;
  border-radius: 5px;
  box-shadow: 0 5px 30px rgba(black, .1);
}

.tooltip.popover .popover-arrow {
  border-color: #f9f9f9;
}

.tooltip[aria-hidden='true'] {
  visibility: hidden;
  opacity: 0;
  transition: opacity .15s, visibility .15s;
}

.tooltip[aria-hidden='false'] {
  visibility: visible;
  opacity: 1;
  transition: opacity .15s;
}

.infolink::after {
    content: '?⃝';
}
</style>
